* {
	box-sizing: border-box
}
.m {
	/* Don't cut off dropdowns! */
	overflow: initial;
}

div.loading:first-child {
	margin-top: 2em;
}
div.loading {
	text-align: center;
}

.tabs-header {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

#virtual-groups {
	margin-top: 0.5em;
	width: calc(100% - 20px);
}
#virtual-groups td {
	padding: 0.2em 0.4em;
}
#virtual-groups thead .id {
	width: 60px;
}
/* #virtual-groups thead .name {
	width: calc((100% - 60px - 30px) / 3 * 2);
}
#virtual-groups thead .devices {
	width: calc((100% - 60px - 30px) / 3);
} */
#virtual-groups thead .delete {
	width: 30px;
}

#virtual-groups tbody tr:nth-child(2n) {
	background-color: lightgray;
}
#virtual-groups tbody td {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}
#virtual-groups tbody .id {
	text-align: right;
}
#virtual-groups tbody .name {
	text-align: left;
}
#virtual-groups tbody .devices {
	text-align: left;
}

#virtual-groups tbody .empty {
	text-align: center;
}

/* #virtual-groups .delete-group {
	margin-top: -0.25em;
	margin-bottom: -0.25em;
	width: 24px;
	height: 20px;
} */

.admin-tooltip-icon {
	margin-left: 0.25em;
}
.active > .admin-tooltip-icon {
	/* Offset the downscaling in active labels */
	transform: scale(1.25);
}

label i.material-icons {
	vertical-align: middle;
}
